<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
    <p>

            Welcome to world's best Music sharing portal. In few minutes you will be experiencing the  world's best music sharing portal in which you  will be accessing some great features that you can ever wonder off.In this website you can create your own account and share music and the security we provide is the best in the world.
    </p>
</body>
</html>