<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href="http://localhost:8000/music/">Home</a>
    <form action="http://localhost:8000/music/savedata1/" method="post" >
        {% csrf_token%}
        
        <div class="form-group">
            <label for=""><h3>Add your file Publicly</h3></label>
            <br>
          <label for="exampleInputEmail1">File Name:</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your song title" name="file_name" required>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Audio File:</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" required>
          
        </div>
        
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
</body>
</html>